<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-data-layer *ngIf="geoJsonObject" [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc" >
    </agm-data-layer>
</agm-map>