.main-content {
    padding: 0px 0px 0px 0px;
    min-height: calc(100vh - 0px);
  }
  .pb-3,
  .py-3 {
    padding-bottom: 16px !important;
    padding-bottom: 1rem !important;
  }
  .header {
    width: calc(100% - 2%);
    /* z-index: 800; */
  }
  .dataTables_wrapper .dataTables_info {
    color: red !important;
    font-weight: 600 !important;
}
#DataTables_Table_0_paginate > span > a.paginate_button.current{
  background: #6C6D6F;
}
