<div>
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-logo">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed">
                        <a class="sidebar-link td-n" href="/index.html">
                            <div class="peers ai-c fxw-nw">
                                <div class="peer">
                                    <div>
                                   
                                        <img class="rengoo-logo" src="../../../assets/img/logo.png" alt="Rengoo">
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle">
                            <a class="td-n">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="sidebar-menu scrollable pos-r">
                <li class="nav-item mT-30 active">
                    <a class="sidebar-link" [routerLink]="['/profile']" default>
                        <span class="icon-holder">
                            <i class="c-blue-500 ti-home"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="sidebar-link" [routerLink]="['/profile/map']" default>
                        <span class="icon-holder">
                            <i class="c-blue-500 ti-world"></i>
                        </span>
                        <span class="title">Network Overview</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="sidebar-link" [routerLink]="['/profile/networkBilling']" default>
                        <span class="icon-holder">
                            <i class="c-blue-500 ti-world"></i>
                        </span>
                        <span class="title">Network Billing</span>
                    </a>
                </li>



            </ul>
        </div>
    </div>
    <div class="page-container">
        <div class="header navbar">
            <div class="header-container">
                <ul class="nav-left">
                    <li>
                        <a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);">
                            <i class="ti-menu"></i>
                        </a>
                    </li>
                    <li class="search-box">
                        <div class="nav-wrapper">
                            <div class="sl-nav">
                                <ul>
                                    <li><b>English</b> <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <div class="triangle"></div>
                                        <ul>
                                            <li><i class="sl-flag flag-de">
                                                    <div id="germany"></div>
                                                </i> <span class="active">Deutsch</span></li>
                                            <li><i class="sl-flag flag-usa">
                                                    <div id="germany"></div>
                                                </i> <span>English</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="search-input">
                        <input class="form-control" type="text" placeholder="Search...">
                    </li>
                </ul>
                <ul class="nav-right">
                    <li class="notifications balance mT-20" *ngIf="userBalanceAmount">
                        <p>Balance: <b> ${{userBalanceAmount}} </b></p>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                            <div class="peer mR-10">
                                <img class="w-2r bdrs-50p" src="../../../assets/img/default.png" alt="">
                            </div>
                            <div class="peer">
                                <span class="c-grey-900">  {{username}}</span>
                            </div>
                        </a>
                        <ul class="dropdown-menu">


                            <li *ngIf="authService.loggedIn()">
                                <a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" (click)="onLogoutClick()">
                                    <i class="ti-power-off mR-10"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="row gap-20 masonry pos-r height-100">

                    <div class="col-md-12 ">
                        <div class="row height-100">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">

                                        <router-outlet></router-outlet>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </main>
        <footer class="bdT ta-c pT-20 lh-0 fsz-sm ">
            <p class="mB-0">Copyrights &copy; 2018 Rengoo, All Rights Reserved</p>
        </footer>



    