

<div class="alert alert-success" *ngIf="emailVerificationResposne">
  <strong>Success!</strong> {{emailVerificationResposne}}
</div>



<!-- Registration Form /-->



<div class="container-fluid padding-0 d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-12 mx-auto">
          <div class=" row">
            <div class="col-8 ">
              <img height="100%" width="100%" src="../../../assets/img/login-bg.jpg">
            </div>
            <div class="col-4 peer pX-20 pY-50 h-100 bgc-white scrollable pos-r text-center Aligner-item ">
              <a href="#"><img class="logo" src="../../../assets/img/logo.png"></a>
              <a href="#"><img class="ibm-logo" src="../../../assets/img/IBM.jpg"></a>


              <h4 class="login">Forget Password</h4>
              <p class="sign-in-text">Open Standards Platform for Network Operators</p>
              <!-- Registration Form -->
<form [formGroup]="form" (submit)="submitForget()">


    <!-- Email Input -->
    <div class="form-group">
      <div>
        <input type="text" name="email" class="form-control sign-in-input mT-30" autocomplete="off" placeholder="*Email" formControlName="email" (blur)="checkEmail()" />
        <!-- Validation -->
        <div class="help-block text-left mT-10">
          <p *ngIf="form.controls.email.errors?.required && form.controls.email.dirty"  class="text-danger">This field is required</p>
          <p *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty" class="text-danger">This must be a valid e-mail</p>
          </div>
      </div>
    </div>

    <!-- Submit Input -->
    <input  [disabled]=" !processing || !emailValid" type="submit" class="btn btn-sign-in" value="Submit" />

  </form>

              <div class="col mT-30">
                <a class="forget-pass" [routerLink]="['/login']">Click here to Login </a>
              </div>


            </div>


          </div>
        </div>
    </div>
</div>



