<div class="tab-pane fade show active" id="nav-current" role="tabpanel" aria-labelledby="nav-home-tab">

    <div class="h-1 color-h"><span class="text-h">Energy Production</span></div>

    <div class="row">
        <div class="col-12">
            <div class="row background-white">
                <div class="col-1">
                    <img class="img-cons" src="../../../assets/img/consumption-logo.png">
                </div>
                <div class="col-11 mT-10">
                    <h2 class="cons-h">Energy Production</h2>
                    <h4 class="cons-h">Total Production: {{totalProduction.toFixed(1)}} kWh</h4>
                </div>

                <div class="col-12 mT-20">
                    <div id="consumption" class="consumption-chart"></div>
                </div>



                <div class="col-12 mT-50">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm row-border hover" datatable [dtOptions]="dtOptions"
                            [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th scope="col">Energy Resource</th>

                                    <th scope="col">Production</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of Production; let i = index">

                                    <td>{{p.eResource}}</td>
                                    <td>{{p.eProduction}} KW</td>
                                    <td>{{p.eDate}} </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>