<!-- <app-navbar ></app-navbar> -->
<div class="col-10 offset-1">
  <div *ngIf="user">
    <h2 class="page-header">{{user.name}}</h2>
    <ul class="list-group">
      <li class="list-group-item"><b>Username</b> : {{user.username}}</li>
      <li class="list-group-item"><b>Email</b> : {{user.email}}</li>
    </ul>
  </div>

  <br />
  <table class="table table-striped table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$">
        <td>{{ user.username}}</td>
        <td>{{ user.email }}</td>
        <td> <button class="btn btn-warning btn-sm " (click)="openModal(user._id)"><i class="fa fa-pencil-square-o edit-btn"
              aria-hidden="true"></i>
            Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
<app-user-model></app-user-model>