.dataTables_wrapper .dataTables_info {
    color: red !important;
    font-weight: 600 !important;
}
#DataTables_Table_0_paginate > span > a.paginate_button.current{
  background: #6C6D6F;
}
.edit-btn:hover,
.edit-btn:hover,
.edit-btn:hover{
      cursor : pointer;
}
