<div class="container-fluid padding-0 d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-12 mx-auto">
          <div class=" row">
            <div class="col-8 ">
              <img height="100%" width="100%" src="../../../assets/img/login-bg.jpg">
            </div>
            <div class="col-4 peer pX-20 pY-50 h-100 bgc-white scrollable pos-r text-center Aligner-item ">
              <a href="#"><img class="logo" src="../../../assets/img/logo.png"></a>
              <a href="#"><img class="ibm-logo" src="../../../assets/img/IBM.jpg"></a>

              <h4 class="login">Login to join our network</h4>
              <p class="sign-in-text">Open Standards Platform for Network Operators</p>
              <form class="pT-50" (submit)="onLoginSubmit()">
                <div class="form-group">
                  <input type="email" class="form-control sign-in-input"
                  [(ngModel)]="email" name="email"
                  placeholder="Email address">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control sign-in-input"
                  [(ngModel)]="password" name="password"
                  placeholder="Password">
                </div>

                <div class="form-group pY-20">
                   <button type="submit" class="btn btn-sign-in">Sign In</button>
                </div>
              </form>


              <div class="col">
                  <a class="forget-pass" [routerLink]="['/register']"> Sign up </a> /
                <a class="forget-pass" [routerLink]="['/forget']"> Forget Password ? </a>
              </div>


            </div>


          </div>
        </div>
    </div>
</div>


