<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="row gap-20 masonry pos-r height-100">
            <div class="col-md-12 ">
                <div class="row height-100">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="row background-white">

                                    <div class="col-4 offset-4 peer pX-20 pY-50 border-charts2 h-100 bgc-white scrollable pos-r text-center Aligner-item ">
                                        <a [routerLink]="['/userPanel/edit']">
                                            <img class="u-profile-img" src="../../../assets/img/default.png">
                                        </a>

                                        <h4 class="fw-400 c-grey-900 mB-20 login margin-p-img">{{user.username}}</h4>
                                        <p class="sign-in-text">{{ user.email}} </p>

                                        <h4 class="user-info">{{user.LocationDetail }}</h4>
                                        <h4 class="user-info"> {{user.balanceAmount }} </h4>
                                        <h4 class="user-info"> Power Storage: <span class="power-text">{{storage}}</span>
                                            </h4>
                                            <h4 class="user-info"> Open Offer: <span class="power-text">{{ava}}</span>
                                            </h4>
                                         <div class="pY-20">
                                                <a >
                                                    <button type="button" class="btn btn-edit"
                                                    [routerLink]="['/userPanel/edit']"
                                                    >Edit</button>
                                                </a>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
