<div class="container-fluid padding-0 d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-12 mx-auto">
          <div class=" row">
            <div class="col-8 ">
              <img height="100%" width="100%" src="../../../assets/img/login-bg.jpg">
            </div>
            <div class="col-4 peer pX-20 pY-50 h-100 bgc-white scrollable pos-r text-center Aligner-item ">
              <a href="#"><img class="logo" src="../../../assets/img/logo.png"></a>
              <a href="#"><img class="ibm-logo" src="../../../assets/img/IBM.jpg"></a>


              <h4 class="login">Register here to join our network</h4>
              <p class="sign-in-text">Open Standards Platform for Network Operators</p>
             <!-- Registration Form -->
<form [formGroup]="form" (submit)="onRegisterSubmit(id)">

    <!-- Username Input -->
    <div class="form-group">
      <!-- <label for="username">Username</label> -->
      <div>
        <input type="text" name="username" class="form-control sign-in-input" autocomplete="off" placeholder="*Username" formControlName="username"  />
        <!-- Validation -->
        <div class="help-block text-left">
          <p *ngIf="form.controls.username.errors?.required && form.controls.username.dirty" class="text-danger mT-10">This field is required</p>
        </div>
      </div>
    </div>

    <!-- Email Input -->
    <div class="form-group">
      <!-- <label for="email">Email</label> -->
      <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty), 'has-success': !form.controls.email.errors && emailValid}">
        <input type="text" name="email" class="form-control sign-in-input" autocomplete="off" placeholder="*Email" formControlName="email" (blur)="checkEmail()" />
        <!-- Validation -->
        <div class="help-block  text-left">
          <p *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</p>
          <p *ngIf="(form.controls.email.errors?.minlength && form.controls.email.dirty || form.controls.email.errors?.maxlength && form.controls.email.dirty ) && form.controls.email.dirty">Minimum characters: 5, Maximum characters: 30</p>
          <p *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid e-mail</p>
          <p *ngIf="emailMessage" class="text-success">{{ emailMessage}}</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <!-- <label for="distanceFromGrid">Distance from grid</label> -->
      <div [ngClass]="{'has-error': (form.controls.distanceFromGrid.errors && form.controls.distanceFromGrid.dirty), 'has-success': !form.controls.distanceFromGrid.errors}">
        <input type="text" name="distanceFromGrid" class="form-control sign-in-input" autocomplete="off" placeholder="*Distance From Grid in Kilometers" formControlName="distanceFromGrid"  />
        <!-- Validation -->
        <div class="help-block  text-left">
          <p *ngIf="form.controls.distanceFromGrid.errors?.required && form.controls.distanceFromGrid.dirty">This field is required</p>
          <p *ngIf="form.controls.distanceFromGrid.errors?.validateFloatNumber && form.controls.distanceFromGrid.dirty">This must be a  number</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <!-- <label for="balanceAmount">Balance</label> -->
      <div [ngClass]="{'has-error': (form.controls.balanceAmount.errors && form.controls.balanceAmount.dirty), 'has-success': !form.controls.balanceAmount.errors}">
        <input type="text" name="balanceAmount" class="form-control sign-in-input" autocomplete="off" placeholder="*Balance Amount in Swiss Franc"  formControlName="balanceAmount"  />
        <!-- Validation -->
        <div class="help-block text-left">
          <p *ngIf="form.controls.balanceAmount.errors?.required && form.controls.balanceAmount.dirty">This field is required</p>
          <p *ngIf="form.controls.balanceAmount.errors?.validateFloatNumber && form.controls.balanceAmount.dirty">This must be a  number</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <!-- <label for="PricePerKWH">Price Per KWH</label> -->
      <div [ngClass]="{'has-error': (form.controls.PricePerKWH.errors && form.controls.PricePerKWH.dirty), 'has-success': !form.controls.PricePerKWH.errors}">
        <input type="text" name="PricePerKWH" class="form-control sign-in-input" autocomplete="off" placeholder="*Price Per KHW in Swiss Franc" formControlName="PricePerKWH"  />
        <!-- Validation -->
        <div class="help-block text-left">
          <p *ngIf="form.controls.PricePerKWH.errors?.required && form.controls.PricePerKWH.dirty">This field is required</p>
        </div>
      </div>
    </div>

    <div class="form-group">
        <!-- <label for="PricePerKWH">Price Per KWH</label> -->
        <div [ngClass]="{'has-error': (form.controls.productionCapacity.errors && form.controls.productionCapacity.dirty), 'has-success': !form.controls.PricePerKWH.errors}">
          <input type="text" name="productionCapacity" class="form-control sign-in-input" autocomplete="off" placeholder="*Production Capacity in KW" formControlName="productionCapacity"  />
          <!-- Validation -->
          <div class="help-block text-left">
            <p *ngIf="form.controls.productionCapacity.errors?.required && form.controls.productionCapacity.dirty">This field is required</p>
          </div>
        </div>
      </div>

    <div class="form-group">
      <!-- <label for="LocationDetail">Location</label> -->
      <div>

      <select formControlName="LocationDetail" class="form-control sign-in-input">
       <option value="" disabled selected>*Select Location</option>
       <option  value="0">Schaffhausen</option>
       <option  value="1">Neuhausen am Rheinfall</option>
       <option  value="2">Rheinau</option>
       <option  value="3">Marthalen</option>
       <option  value="4">Schalatt TG, Am Bach 1</option>
       <option  value="5">Schlatt TG, Schneckenacker 187</option>
       <option  value="6">Schlatt TG, Fallentor</option>
       <option  value="7">Schlatt TG, Rofackerstrasse 9</option>
       <option  value="8">Schlatt TG, Riederen 127</option>
       <option  value="9">Schlatt TG Dickihof 4</option>
       <option  value="10">Schlatt TG, Im Bachli 452</option>
       <option  value="11">Schlatt TG, Galgenbuckweg 1</option>
       <option  value="12">Schlatt TG, Rofackerstrasse7</option>
       <option  value="13">Schlatt TG Riethof 192</option>
       <option  value="14">Schlatt TG, Mettschlatterstrasse2</option>
     </select>
   </div>
    </div>




    <!-- Password Input -->
    <div class="form-group" >
      <!-- <label for="password">Password</label> -->
      <div>
        <input type="password" name="password" class="form-control sign-in-input" autocomplete="off" placeholder="*Password" formControlName="password" />
        <!-- Validation -->
        <div class="help-block text-left">
          <p *ngIf="form.controls.password.errors?.required && form.controls.password.dirty" class="text-danger">This field is required</p>
          <p class="text-danger" *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Minimum characters: 8, Maximum characters: 35</p>
     <p  class="text-danger" *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must be at least 8 characters but no more than 50</p>
        </div>
      </div>
    </div>

    <!-- Confirm Password Input -->
    <div class="form-group">
      <!-- <label for="confirm">Confirm Password</label> -->
      <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
        <input type="password" name="confirm" class="form-control sign-in-input" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm" />
        <!-- Validation -->
        <div class="help-block text-left">
          <p *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</p>
          <p *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</p>
        </div>
      </div>
    </div>



    <!-- Submit Input -->
    <input  [disabled]="!form.valid || processing || !emailValid" type="submit" class="btn btn-sign-in" value="Submit" />

  </form>
  <!-- Registration Form /-->

  <br/>
  <div class="">
      <a class="forget-pass" [routerLink]="['/login']">Click Here To Go Back To Login </a>
    </div>

            </div>



          </div>
        </div>
    </div>
</div>












