<div class="h-1 color-h3"><span class="text-h">Trade</span></div>
<div class="row">
    <div class="col-12">
        <div class="row background-white">
            <div class="col-1">
                <img class="img-cons border-radius-100" src="../../../assets/img/default.png">
            </div>
            <div class="col-11">
                <h2 class="cons-h mT-20">{{userName}} <span *ngIf="userType != 'NONE'" class="cons-h">:
                        {{userType}}</span></h2>
            </div>
            <div class="col-12 mT-50" *ngIf="responseData.length > 0">
                <div class="table-responsive">
                    <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggers">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Price</th>
                                <th scope="col">Energy Type</th>
                                <th scope="col">Available Energy</th>
                                <th scope="col">Distance</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let res of responseData">
                            <tr *ngFor="let energy of
                            res.energyProductionDetails ">
                                <ng-container *ngIf="energy.totalAvailable >1">
                                    <td>{{res.name}}</td>
                                    <td>{{res.pricePerKWH}} Rp. / KWh</td>
                                    <td>
                                        {{energy.energyResource}}
                                    </td>
                                    <td>{{energy.totalAvailable.toFixed(1)}} KW</td>
                                    <td>{{res.distanceFromGrid}} Km</td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-end-contract"
                                            data-toggle="modal" data-target="#sell-energy"
                                            (click)="setBuyer(res.name); openEnergyModal(res.userID,energy.energyResource)">Buy
                                            Energy
                                        </button>
                                    </td>
                                </ng-container>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Energy Sale Table -->
            <div class="col-12 mT-50" *ngIf="userType == 'PROSUMER' && prosumer.length> 0">
                <h3><span class="text-h text-secondary">Production Details</span></h3>
                <div class="table-responsive">
                    <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggers">
                        <thead>
                            <tr>
                                <th scope="col">Resource</th>
                                <th scope="col">Production</th>
                                <th scope="col">Percentage</th>
                                <th scope="col">Price / KWH</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let res of prosumer">
                                <td>{{res.energyResource}}</td>
                                <td>{{res.production.toFixed(1)}}</td>
                                <td>{{res.percentage.toFixed(2)}}%</td>
                                <td>{{res.pricePerKWH}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Energy Sale Table -->

            <!-- offersFromSellers -->
            <div class="col-12 mT-50" *ngIf="offersFromSellers.length > 0">
                <h3><span class="text-h text-secondary">Offers from sellers</span></h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Seller</th>
                                <th scope="col">Price / KWH</th>
                                <th scope="col">Energy Resource</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let res of offersFromSellers">
                                <td>{{ res.sellerName }}</td>
                                <td>{{ res.pricePerKWH }}</td>
                                <td>{{ res.energyResource }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-end-contract" data-toggle="modal"
                                        data-target="#accept-energy-proposal"
                                        (click)="openEnergyOfferApprovalModal(res)">Accept
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- offersFromSellers -->
        </div>
    </div>
</div>

<!-- <div class="row" *ngIf="userType == 'PROSUMER'">
    <div class="col-12">
        <div class="row background-white">
            <div class="col-1">
                <img class="img-cons border-radius-100" src="../../../assets/img/default.png">
            </div>
            <div class="col-11">
                <h2 class="cons-h mT-20">John Doe :<span class="cons-h"> PRODUCER</span></h2>
            </div>
            <div class="col-12 mT-50">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Distance From Grid</th>
                                <th scope="col">Blance</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let res of buyersopenToOffer">
                                <td>{{res.name}}</td>
                                <td>{{res.distanceFromGrid}}</td>
                                <td>{{res.totalProduction}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-end-contract" data-toggle="modal"
                                        data-target="#sell-energy" (click)="openEnergyModal(res.userID)">Buy Energy
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- Buy Modal-->

<div class="modal fade" id="sell-energy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buy Energy from {{ buyerName }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Energy Type</th>
                                <th scope="col">Total Available</th>
                                <th scope="col"> Energy Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{energyResourceById}}</td>
                                <td>{{totalAvailableById}}</td>
                                <td>
                                    <form [formGroup]="buyForm" (ngSubmit)="submit()">
                                        <div class="form-group mB-0">
                                            <input type="text" formControlName="purchaseUnitKWH"
                                                class="form-control input-table" formControlName="purchaseUnitKWH"
                                                placeholder="KW">
                                        </div>
                                        <label *ngIf="purchaseUnitKWH.invalid && purchaseUnitKWH.dirty"
                                            class="text-danger">Invalid
                                            Input</label>
                                        <div class="row padding-10">
                                            <button class="btn btn-end-contract btn-sell-energy"
                                                [disabled]="buyForm.invalid">Buy
                                                Energy</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Buy Energy Modal-->

<!-- Accept Energy Proposal -->
<div class="modal fade" id="accept-energy-proposal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buy Energy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Energy Type</th>
                                <th scope="col">Total Available</th>
                                <th scope="col"> Energy Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{approvalObject.energyResource}}</td>
                                <td>{{approvalObject.totalAvailable}}</td>
                                <td>
                                    <form [formGroup]="approvalForm" (ngSubmit)="submitApproval(f)">
                                        <div class="form-group mB-0">
                                            <input type="text" class="form-control input-table" formControlName="units"
                                                placeholder="">
                                            <label *ngIf="approvalForm.dirty && approvalForm.invalid"
                                                class="text-danger">Number
                                                required</label>
                                        </div>
                                        <div class="row padding-10">
                                            <button class="btn btn-end-contract btn-sell-energy"
                                                [disabled]="approvalForm.invalid">Buy
                                                Energy</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Accept Energy Proposal -->



<!-- Sell Energy -->
<!-- <div class="modal fade" id="sell-energy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buy Energy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Energy Type</th>
                                <th scope="col">Total Available</th>
                                <th scope="col"> Energy Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{resourceEnergySeller}}</td>
                                <td>{{productionDetailSeller}}</td>
                                <td>
                                    <form #f="ngForm" (ngSubmit)="submit(f)">
                                        <div class="form-group mB-0">
                                            <input type="text" class="form-control input-table" ngModel name="purchase"
                                                #purchase="ngModel" placeholder="">
                                        </div>
                                        <div class="row padding-10">
                                            <button class="btn btn-end-contract btn-sell-energy" [disabled]="!f.valid">Sell
                                                Energy</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- End Seller Energy Modal -->